
<h1>All This App Does is List Books</h1>

<div ng-controller="BooksCtrl">
			<h1>{{hello}}</h1>
	<form ng-submit="addBook()">
		<input type="text" ng-model="newBook.title" placeholder="Title" class="add_form"><br>
		<input type="text" ng-model="newBook.author" placeholder="Author" class="add_form"><br>
		<input type="text" ng-model="newBook.description" placeholder="Description" class="add_form"><br>
		<button class="add_button">Add Book </button>
	</form>

<div class="image">
	<img src="http://culturalcat.com/wp-content/uploads/2013/01/animalsbookscatscutesweetbook-720f1ff0b2132ea2c7c629a0dd8601dc_h.jpg">
</div>
	
	<div class="books">
		<h3>My Books</h3>
		<div ng-repeat="book in books">
			<ul>

				<form ng-show="editing" ng-submit="editBook()">
					<input type="text" ng-model="book.title">
					<input type="author" ng-model="book.author">
					<input type="description" ng-model="book.description">
					<button>Save Changes</button>
					<button>Cancel</button>
				</form>

				<li><span ng-hide="editing" ng-click="editing = true"> {{book.title}}, by: {{book.author}} </span><span ng-hide="editing" ng-click="editing = true"><button class="edit_button">Edit</button> </span> <button ng-click="deleteBook()" class="delete_button">Delete</button></li>
			</ul>
		</div>
	</div>
</div>
