/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	background-color: #00CDC5;
	text-align: center;
}

h1 {
	color: #015965;
	margin-top: 30px;
}

.image {
	margin-top: 15px;
}

h3{
	color: #FF0000;
	margin-left: 40px;
}

ul {
	list-style-type: none;
}

li {
	color: #FF7100;
}

.add_button {
	background-color: #FF7A00;
	border-radius: 5px;
	color: #015965;
}

::-webkit-input-placeholder {
    color:    #FF7100;
}

.add_form {
	border-radius: 5px;
	background-color: #6C8CD5;
	padding-left: 10px;

}

.books {
	border: 3px solid #015965;
	margin: 30px 100px 0px 100px;
	border-radius: 10px;
	background-color: #AFF5F2;
	text-align: left;
}

.edit_button {
	background-color: #6C8DD5;
	color: #FF7100;
	border-radius: 5px;
}

.delete_button {
	background-color: #2A4580;
	color: #FF7100;
	border-radius: 5px;
}


